[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = My dotfiles for fedora linux
[access "refs/*"]
	owner = group user/srikanth-iyengar
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/srikanth-iyengar
	label-Verified = -1..+1 group user/srikanth-iyengar
	push = group user/srikanth-iyengar
	read = group user/srikanth-iyengar
	rebase = group user/srikanth-iyengar
	removeReviewer = group user/srikanth-iyengar
	submit = group user/srikanth-iyengar
[access "refs/heads/*"]
	create = group user/srikanth-iyengar
	push = +force group user/srikanth-iyengar
	pushMerge = group user/srikanth-iyengar
	read = group user/srikanth-iyengar
[access "refs/tags/*"]
	push = group user/srikanth-iyengar
	push = +force group user/srikanth-iyengar
