[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = My dotfiles for fedora linux
[access "refs/*"]
	owner = group Vyas
	owner = group user/Srikanth Iyengar (srikanth-iyengar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Vyas
	label-Code-Review = -2..+2 group user/Srikanth Iyengar (srikanth-iyengar)
	label-Verified = -1..+1 group user/Srikanth Iyengar (srikanth-iyengar)
	label-Verified = group Vyas
	push = group Vyas
	push = group user/Srikanth Iyengar (srikanth-iyengar)
	read = group Vyas
	read = group user/Srikanth Iyengar (srikanth-iyengar)
	rebase = group Vyas
	rebase = group user/Srikanth Iyengar (srikanth-iyengar)
	removeReviewer = group Vyas
	removeReviewer = group user/Srikanth Iyengar (srikanth-iyengar)
	submit = group Vyas
	submit = group user/Srikanth Iyengar (srikanth-iyengar)
[access "refs/heads/*"]
	create = group Vyas
	create = group user/Srikanth Iyengar (srikanth-iyengar)
	push = group Vyas
	push = +force group user/Srikanth Iyengar (srikanth-iyengar)
	pushMerge = group Vyas
	pushMerge = group user/Srikanth Iyengar (srikanth-iyengar)
	read = group Vyas
	read = group user/Srikanth Iyengar (srikanth-iyengar)
[access "refs/tags/*"]
	push = group Vyas
	push = group user/Srikanth Iyengar (srikanth-iyengar)
	push = +force group user/Srikanth Iyengar (srikanth-iyengar)
